<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>CENTRAL_Reserved</title>
    <link rel="stylesheet" href="css/style.css" />
    <script src="/send_url.js"></script>
  </head>
  <body>
    <div class="top_wrapper">
      <div class="top-detail">
        <h2 class="subtitle">セントラル レッスン事前予約アプリ</h2>
        <h1 class="title">Lesson Reserved</h1>
        <div class="top-image">
          <img src="images/top.png" />
        </div>
        <p class="description">
          Lesson
          Reservedはセントラルフィットネスクラブ24二俣川店の会員様に向けた無料レッスンの事前予約サイトになります。
          <br />
          予約したいレッスンを選択しましょう。
        </p>
        <a href="/index" class="index-button">レッスン表一覧を見る</a>
      </div>
    </div>
  </body>
</html>
